@font-face {font-family: "EurostileExt2";src: url("EurostileExt2.ttf");}
@font-face {font-family: "WhitneyBook";src: url("WhitneyBook.ttf");}
@font-face {font-family: "Champagne";src: url("Champagne.ttf");}
/** {font-family:'Courier New', Courier, monospace;}*/
body{background-color: #ffffff; color:#000000;font-family:'Courier New', Courier, monospace;}
.font1 {font-family: 'EurostileExt2', sans-serif;}
.font2 {font-family: 'WhitneyBook', cursive;}
.font3 {font-family: 'Champagne', monospace;}
.f-xs {font-size:9px;}
.f-sm {font-size:12px;}
.f-md {font-size:15px;}
.f-lg {font-size:19px;}
.f-xl {font-size:24px;}
.f-xxl{font-size:30px;}
/*
.pre{
    color: #fff;
    background-color: rgba(60,60,60,0.8);
    overflow:scroll;
    white-space:nowrap;
    height:700px;
    width: 100%;
}
*/
