<div id="vi-fix" style="position: relative; top: 0px; left: 0px;">
    <style type="text/css">body {
        font-family:'Helvetica';
        background-image: url('ABC_Template5.jpg'), url('http://vi-digital.com/lib/vicorporatemenus/ABC-Corp/ABC_Template5.jpg');
        background-repeat:no-repeat; background-color:#fff;
        color: #000;
        text-align: center;
    }
    td {
        font-size: 47px; font-weight:bold; vertical-align:top;
        text-align: right;
        line-height: 70px;
    }
    .center {
        text-align: center;
        width: 600px;
        height: 600px;
        position: absolute;
        top: 200px;
        left: 600px;

    }
    .header {
        text-align: center;
        font-size: 90px;
        font-family:  'Helvetica';
        color: #fff;
        padding-bottom: 50px;
        text-transform: uppercase;
    }
    .large {
        font-size: 64px;
        line-height: 64px;
        text-align: left;
    }
    .red {
        color: #cf0d2f;
    }
    .small { font-size: 44px; line-height: 44px;}
    </style>
    <table style="position: absolute; width: 1280px; top: 50px !important; left: 0px !important;">
        <tbody>
        <tr>
            <td class="header">JULY Specials</td>
        </tr>
        </tbody>
    </table>

    <div id="rotatoPotato">
        <table border="0" class="slides text" style="top: 200px; position: absolute; left: 80px; opacity: 0;" width="1100">
            <tbody>
            <tr>
                <td class="large red">Old Grand Dad</td>
                <td rowspan="5" style="text-align:center;" width="400"><img alt="Image 1" class="slides" onerror="this.src='http://vi-digital.com/lib/abc/ABC-Cherry/22256_OldGrandDad.png'" src="22256_OldGrandDad.png" /></td>
            </tr>
            <tr>
                <td class="small">.75L</td>
            </tr>
            <tr>
                <td class="small">Regular Price $19.95</td>
            </tr>
            <tr>
                <td class="small">Savings $3.00</td>
            </tr>
            <tr>
                <td>Sale Price $16.95</td>
            </tr>
            </tbody>
        </table>

        <table border="0" class="slides text" style="top: 200px; position: absolute; left: 80px; opacity: 0;" width="1100">
            <tbody>
            <tr>
                <td class="large red">Jim Beam&#39;s Choice</td>
                <td rowspan="5" style="text-align:center;" width="400"><img alt="Image 2" class="slides" onerror="this.src='http://vi-digital.com/lib/abc/ABC-Cherry/23033_JimBeamChoice.png'" src="23033_JimBeamChoice.png" /></td>
            </tr>
            <tr>
                <td class="small">1.75L</td>
            </tr>
            <tr>
                <td class="small">Regular Price $33.95</td>
            </tr>
            <tr>
                <td class="small">Savings $4.00</td>
            </tr>
            <tr>
                <td>Sale Price $29.95</td>
            </tr>
            </tbody>
        </table>

        <table border="0" class="slides text" style="top: 200px; position: absolute; left: 80px; opacity: 0;" width="1100">
            <tbody>
            <tr>
                <td class="large red">Maker&#39;s Mark</td>
                <td rowspan="5" style="text-align:center;" width="400"><img alt="Image 3" class="slides" onerror="this.src='http://vi-digital.com/lib/abc/ABC-Cherry/24275_MakersMark.png'" src="24275_MakersMark.png" /></td>
            </tr>
            <tr>
                <td class="small">.75L</td>
            </tr>
            <tr>
                <td class="small">Regular Price $31.95</td>
            </tr>
            <tr>
                <td class="small">Savings $3.00</td>
            </tr>
            <tr>
                <td>Sale Price $28.95</td>
            </tr>
            </tbody>
        </table>

        <table border="0" class="slides text" style="top: 200px; position: absolute; left: 80px; opacity: 0;" width="1100">
            <tbody>
            <tr>
                <td class="large red">Basil Hayden&#39;s (6)</td>
                <td rowspan="5" style="text-align:center;" width="400"><img alt="Image 4" class="slides" onerror="this.src='http://vi-digital.com/lib/abc/ABC-Cherry/27012_BasilHaydens.png'" src="27012_BasilHaydens.png" /></td>
            </tr>
            <tr>
                <td class="small">.75L</td>
            </tr>
            <tr>
                <td class="small">Regular Price $43.95</td>
            </tr>
            <tr>
                <td class="small">Savings $4.00</td>
            </tr>
            <tr>
                <td>Sale Price $39.95</td>
            </tr>
            </tbody>
        </table>
    </div>
    <script type="text/javascript">
        /* HEY! If the moon were made out of spare ribs, would you eat it? I know I would..*/
        var thisPotato = 0;
        var potatoDiv = document.getElementById('rotatoPotato');
        var potatoes = potatoDiv.children;
        var theonethatfadesin, theonethatfadesout;
        window.contentType= 'slideshow';

        function opac (direction, v) {
            console.log('setting opacity '+direction+' to: '+v/10);
            if (direction == "in") {
                theonethatfadesin.style.opacity = v/10;
            } else if (direction == "out") {
                theonethatfadesout.style.opacity = v/10;
            }
        }

        function fadeIn (obj) {
            theonethatfadesin = obj;
            for (var i=0;i<=10;i++) {
                setTimeout('opac("in", '+i+')', 50*i);
            }
        }

        function fadeOut (obj) {
            var j = 0;
            if (obj.style.opacity > 0) {
                theonethatfadesout = obj;
                for (var i=10; i >= 0; i--) {
                    j++;
                    setTimeout('opac("out", '+i+')', 50*j);
                }
            }
        }

        function switchPotato () {
            for (var i=0;i<potatoes.length;i++)
            {
                if (potatoes[i].innerHTML != undefined) {
                    if (i == thisPotato) {
                        fadeIn(potatoes[i]);
                    } else {
                        fadeOut(potatoes[i]);
                    }
                }
            }
            thisPotato++;
            if (thisPotato != potatoes.length-1) window.switchSlide = setTimeout('switchPotato()', 5000);
        }
        switchPotato();
    </script><!-- end fix --></div>
