    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <style>
        * {margin: 0;padding: 0; box-sizing: border-box;}
        body {          }
        #viewport {
            /*width: 1280px;*/
            /*height:768px;*/
            /*margin: 0 auto;*/
            /*border:1px solid #000;*/
            background:#fff;
            overflow:hidden;
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .cell {
            display: flex;
            align-items: center;
            overflow:auto;
            width:auto;
            height: auto;
            margin:2px;
            flex: 1;
            flex-basis:6%;
        }
        .item-img {
            max-height: 90px;
            max-width: 100%;
            margin: 0 auto;
        }
        #topstrip {
            width: 100%;
            height: 54px;
            text-align:center;
            font-size: 42px;
            background: #f00;
            color: #FFF;
            font-family: 'Montserrat', sans-serif;
            font-weight: bolder;
        }
        .Pwrap {
            position: fixed;
            height: 500px;
            /*width: 700px;*/
            margin-top: -250px;
            margin-left: -350px;
            top: 50%;
            left: 50%;
            background: rgba(240, 240, 240, 0.95);
            border : 3px solid gray;
            border-radius: 16px;
            padding: 20px;
            display: none;
            opacity: 0;
            -webkit-box-shadow: -6px 6px 15px 0 rgba(0,0,0,0.75);
            -moz-box-shadow: -6px 6px 15px 0 rgba(0,0,0,0.75);
            box-shadow: -6px 6px 15px 0 rgba(0,0,0,0.75);
        }
        .leftcontainer{
            float:left;height: 500px;width: 300px;
            padding: 30px; max-height: 100%;
        }
        .leftcontainer img{
            max-height: 100%;
            display: block;
            margin: 0 auto;
        }
        .rightcontainer{float:left;height: 500px;width: 400px;padding: 10px;}
        .Ptitle,.Pregprice,.Psaleprice,.Psavings{
            color: #666;
            font-family: 'Montserrat', sans-serif;
            font-weight: bolder;
        }
        .Ptitle{font-size:38px; line-height:59px;color: #000;}
        .Pregprice{font-size:32px; line-height:79px;}
        .Psaleprice{font-size:32px; line-height:79px;}
        .Psavings{font-size:32px; line-height:79px;}
    </style>

    <script src="js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript">
        // Declare a globally scoped object and its arrays
        var g = {};
        g.a_imgs = [];
        g.a_name = [];
        g.a_regprice = [];
        g.a_saleprice = [];
        g.a_savings = [];

        $.ajax({
            url: 'js/json_items_405.json', //cur: 3,4,9,10,19,31,57,81
            async: false, dataType: 'json',
            success: function (json) {
                slicedjson = json.slice(0,380);
                jQuery.each(slicedjson, function(index, val){
                    var thisbox = $("<div />");
                    var thisimg = $("<img />");
                    thisbox.addClass("cell " + val.id).appendTo("#viewport");
                    thisimg.attr("src", val.url_image).addClass("item-img").appendTo(thisbox);
                });
                g.n_items = slicedjson.length;
                //---DETERMINE PRESENTATION SET---//
                // "j" determines linear set from Json,
                // "j" is -1 from both bounds' json-IDs when 1st ID in file is 0001 (j0=json0001, j3=0004)
                // "a" stores set as [0] through [x] depending on length of loop
                for(var a=0,j=3;j<=7;a++,j++){
                    g.a_imgs[a] = new Image();
                    g.a_imgs[a].src  = json[j].url_image;
                    g.a_name[a]  = json[j].name;
                    g.a_regprice[a]  = json[j].regprice;
                    g.a_saleprice[a] = json[j].saleprice;
                    g.a_savings[a]   = json[j].savings;
                }
                (function stylethegrid (){
                    var styles = document.createElement('style');
                    var n_i = g.n_items;    // <--- give a number
                    var n_min = 1;
                    var n_max = 400;
                    var n_cieling = (n_max - n_min);
                    var mh_min = 28;
                    var mh_max = 500;
                    var mh_cieling = (mh_max - mh_min);
                    var fb_min = 4;
                    var fb_max = 17;
                    var fb_cieling = (fb_max - fb_min);

                    var percent_of_n = (n_i / n_cieling);
                    var reversed_percent_of_n = (1 - percent_of_n);
                    var s_maxheight = ((reversed_percent_of_n * mh_cieling )+mh_min);
                    var s_flexbasis = ((reversed_percent_of_n * fb_cieling )+fb_min);
                    styles.innerHTML = ".cell {flex-basis:"+s_flexbasis+"%;}";
                    styles.innerHTML +=".item-img {max-height: "+s_maxheight+"px;}";
                    document.body.appendChild(styles);
                }());
            }
        });
        //Build Presentation HTML for all presentation items
        var html = "";
        for(var i=0; i<g.a_imgs.length; i++){ //loop length = array length
            html += '<div id="Pwrapper'+(i+1)+'" class="Pwrap">'
            + '<div class="leftcontainer">'
            + '<img src="'+g.a_imgs[i].src+'">'
            + '</div>'
            + '<div class="rightcontainer">'
            + '<div class="Ptitle">'+ g.a_name[i]+'</div><hr>'
            + '<div class="Pregprice">Regular Price: '+ g.a_regprice[i]+'</div>'
            + '<div class="Psaleprice">Sale Price: '+ g.a_saleprice[i]+'</div>'
            + '<div class="Psavings">Savings: '+ g.a_savings[i]+'</div>'
            + '</div></div>';
        }
        var el = document.getElementById("presentation");
        el.innerHTML = html;

        //Continuous loop
        var v = 1;
        function f_runloop() {
            //get new Pwrapper ID
            var thisPwid = "Pwrapper" + (v);
            var thisPwrapper = document.getElementById(thisPwid);
            var cssfadein = { opacity: 1, transition: 'opacity 1s' };
            var cssfadeout = { opacity: 0, transition: 'opacity 1s' };

            var fadein = function()  {$(thisPwrapper).slideDown(900).css(cssfadein);};
            var fadeout = function() {$(thisPwrapper).css(cssfadeout).slideUp(900);};
            var callself = function(){f_runloop();};
            var changev = function (){
                if (v < g.a_imgs.length){v++;}
                else if (v = g.a_imgs.length){v=1;}
            };
            setTimeout(function() {fadein();}, 900);
            setTimeout(function() {fadeout();}, 8200);
            setTimeout(function() {changev();}, 8300);
            setTimeout(function() {callself();}, 9300);
        }
        f_runloop();
    </script>
    <div id="viewport">
        <div id="topstrip">May Specials</div>
    </div>
    <div id="presentation"></div>


