@font-face {font-family: "EurostileExt2";src: url("src/EurostileExt2.ttf");}
/** {font-family:'Courier New', Courier, monospace;}*/
* {font-family:"EurostileExt2", sans-serif;}
body{overflow-y:scroll;
    background: black url("src/space.jpg");
    background-size: cover;}
html body{left: 0;right: 0;bottom: 0;top: 0;margin: 0;}
#sandbox{
    position:relative;
    width: 1280px;
    height: 768px;
    margin: 0 auto;
    background: rgba(47, 47, 47, 0.9);
    border:4px solid #fff;
    box-sizing:content-box;
    z-index:20;
    overflow:hidden;
    display:flex;/*inline-flex is like inline-block*/
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
}
.cell{
    display:none;
    border:2px solid #000000;
    position:relative;
    width:auto;
    height: auto;
    /*max-height:100%;*/
    /*text-align:center;*/
    z-index:20;
    /*padding:10px;*/
    align-self:auto;
    flex-grow: 0;
    flex-shrink:1;
    flex-basis:auto;
}
.cell img{
    position:absolute;bottom:0;left:0;right:0;
    margin:auto auto;/*!!!*/
    border-radius: 24px;
}
.wid, .rat, .hei{
    position:relative;
    z-index: 40;
    font: bold 11px "Courier";
}
.diffs{
    position:absolute;
}
.numspin{
    border-radius: 3px;
    float:left;
}
.numspin#num-spin{
    width: 60px;
    height: 19px;
    padding: 1px 3px;
    font-weight: bold;
    font-size: 11px;
    line-height: .5;
    color: #ffffff;
    background-color: #6666cb;
}
.numspin#col-spin{
    width: 90px;
    height: 19px;
    padding: 1px 3px;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Courier', sans-serif;
    line-height: .5;
    color: #000000;
    background-color: #cb9239;
}
#col-spin-after {
    position:absolute;
    left:25px;
    color: #000000;
    font-size: 14px;
    font-family: 'Courier', sans-serif;
}
#col-spin:before {
    content: "columns";
    width: 40px;
    padding-top: 5px;
    position: absolute;
    top: 0;
    right: 0;
}
.show{display:block;}
.hide{display:none;}

#changeling-panel{
    position:relative;
    width: 1280px;
    height: 150px;
    margin: 0 auto;
    background: #000000;
    border:2px solid #fff;
    border-radius: 15px;
    z-index:100;
}
.btn-toolbar{
    width:137px;
    height: 100%;
    margin: 0 2px;
    float:left;
    border-width:2px;
    border-radius: 15px;
    overflow: hidden;
}
h4, .h4 {
    font-size: 11px;
    margin:2px 0 0;
    font-family: 'Courier', sans-serif;
    font-weight: 700;
    line-height: .8;
    background-color: #ac2925;
    background-clip: content-box;
    color: inherit;
    text-align: center;
}
h3 {
    font-size: 14px;
    margin:2px 0 0;
    font-family: 'Courier', sans-serif;
    font-weight: 700;
    line-height: .8;
    background-color: #7072eb;
    background-clip: content-box;
    color: inherit;
    text-align: center;
}
.btn-group-xs{
    width:100%;
}
.btn-xs, .btn-group-xs>.btn {
    padding: 1px 3px;
    font-size: 11px;
    line-height: .5;
    border-radius: 3px;
    color:#000;
}
.btn-xs, .btn-group-xs>.btn.active {
    padding: 1px 3px;
    font-size: 11px;
    /* line-height: 1.1; */
    font-weight:bold;
}
.btn-sm, .btn-group-sm>.btn {
    padding: 4px 3px;
    font-size: 11px;
    font-weight:bold;
    line-height: .5;
    border-radius: 3px;
    color:#000;
}

.w50 {
    width: 50% !important;
}
.w33 {
    width: 33% !important;
}
.w25 {
    width: 25% !important;
}
.f-xxs{font-size:8px;}
[data-toggle="buttons"]>.btn input[type="radio"]{

}
input[type="radio"] {
    height:3px;
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
    line-height: normal;
}












#viheader{
    position: fixed;right: 0;width: 390px;
    opacity:0.5;font-size:32px;text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
    animation: 3s slidein;cursor:default;z-index:-1000;
    -moz-user-select: none;-webkit-user-select: none;
    -ms-user-select:none;user-select:none;
}@keyframes slidein {from {margin-right: 100%;}to {margin-right: 0;}}
.f-euro {font-family: 'EurostileExt2', sans-serif;}
.f-courier {font-family: 'Courier New', Courier, monospace;font-size: 19px;}

.btn-poptip{
    position: relative;float:right;cursor: pointer;
    height: 12px;width: 18px;
    margin: -14px 0 0 0;padding: 0 2px;
    font-size: 8px;font-weight: bold;color: #000;
    border: 1px solid rgb(99, 89, 49);border-radius: 3px;
    background: rgb(243, 156, 18) none;
}

/*
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.btn:focus,.btn:active:focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}
.btn:hover,.btn:focus,.btn.focus {
    color: #ffffff;
    text-decoration: none
}
.btn:active,.btn.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.125)
}
.btn.disabled,.btn[disabled],fieldset[disabled] .btn {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none
}
.btn-lg,.btn-group-lg>.btn {
    padding: 18px 27px;
    font-size: 19px;
    line-height: 1.3333333;
    border-radius: 6px
}
.btn-sm,.btn-group-sm>.btn {
    padding: 6px 9px;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 3px
}
.btn-xs,.btn-group-xs>.btn {
    padding: 1px 5px;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 3px
}
.btn-block {
    display: block;
    width: 100%
}
.btn-block+.btn-block {
    margin-top: 5px
}





.btn-default {
    color: #ffffff;
    background-color: #464545;
    border-color: #464545
}

.btn-default:hover,.btn-default:focus,.btn-default.focus,.btn-default:active,.btn-default.active,.open>.dropdown-toggle.btn-default {
    color: #ffffff;
    background-color: #2c2c2c;
    border-color: #272727
}
.btn-default:active,.btn-default.active,.open>.dropdown-toggle.btn-default {
    background-image: none
}
.btn-default.disabled,.btn-default[disabled],fieldset[disabled] .btn-default,.btn-default.disabled:hover,.btn-default[disabled]:hover,fieldset[disabled] .btn-default:hover,.btn-default.disabled:focus,.btn-default[disabled]:focus,fieldset[disabled] .btn-default:focus,.btn-default.disabled.focus,.btn-default[disabled].focus,fieldset[disabled] .btn-default.focus,.btn-default.disabled:active,.btn-default[disabled]:active,fieldset[disabled] .btn-default:active,.btn-default.disabled.active,.btn-default[disabled].active,fieldset[disabled] .btn-default.active {
    background-color: #464545;
    border-color: #464545
}


.btn-success {
    color: #ffffff;
    background-color: #00bc8c;
    border-color: #00bc8c
}
.btn-success:hover,.btn-success:focus,.btn-success.focus,.btn-success:active,.btn-success.active,.open>.dropdown-toggle.btn-success {
    color: #ffffff;
    background-color: #008966;
    border-color: #007f5e
}
.btn-success:active,.btn-success.active,.open>.dropdown-toggle.btn-success {
    background-image: none
}
.btn-success.disabled,.btn-success[disabled],fieldset[disabled] .btn-success,.btn-success.disabled:hover,.btn-success[disabled]:hover,fieldset[disabled] .btn-success:hover,.btn-success.disabled:focus,.btn-success[disabled]:focus,fieldset[disabled] .btn-success:focus,.btn-success.disabled.focus,.btn-success[disabled].focus,fieldset[disabled] .btn-success.focus,.btn-success.disabled:active,.btn-success[disabled]:active,fieldset[disabled] .btn-success:active,.btn-success.disabled.active,.btn-success[disabled].active,fieldset[disabled] .btn-success.active {
    background-color: #00bc8c;
    border-color: #00bc8c
}


.btn-warning {
    color: #ffffff;
    background-color: #f39c12;
    border-color: #f39c12
}
.btn-warning:hover,.btn-warning:focus,.btn-warning.focus,.btn-warning:active,.btn-warning.active,.open>.dropdown-toggle.btn-warning {
    color: #ffffff;
    background-color: #c87f0a;
    border-color: #be780a
}
.btn-warning:active,.btn-warning.active,.open>.dropdown-toggle.btn-warning {
    background-image: none
}
.btn-warning.disabled,.btn-warning[disabled],fieldset[disabled] .btn-warning,.btn-warning.disabled:hover,.btn-warning[disabled]:hover,fieldset[disabled] .btn-warning:hover,.btn-warning.disabled:focus,.btn-warning[disabled]:focus,fieldset[disabled] .btn-warning:focus,.btn-warning.disabled.focus,.btn-warning[disabled].focus,fieldset[disabled] .btn-warning.focus,.btn-warning.disabled:active,.btn-warning[disabled]:active,fieldset[disabled] .btn-warning:active,.btn-warning.disabled.active,.btn-warning[disabled].active,fieldset[disabled] .btn-warning.active {
    background-color: #f39c12;
    border-color: #f39c12
}







*/
