
@font-face {font-family: "EurostileExt2";src: url("EurostileExt2.ttf");}
/** {font-family:'Courier New', Courier, monospace;}*/
* {font-family:"EurostileExt2", sans-serif;}
body{background: black url("space.jpg") no-repeat fixed left center;background-size: cover;}
.font1 {font-family: 'EurostileExt2', sans-serif;}
#viheader{
    position: fixed;right: 0;width: 440px;cursor:default;z-index:-1000;
    color: rgba(255, 165, 0, 1);font: bolder 48px "EurostileExt2" ;
    animation: slidein 4s;text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}@keyframes slidein {from {color: rgba(0, 0, 0, 0); margin-right: 100%;}to {color: rgba(255, 165, 0, 1); margin-right: 0;}}

#playlistpre{
    color: #fff;
    background-color: rgba(60,60,60,0.8);
    overflow:scroll;
    white-space:nowrap;
    height:600px;
    width: 100%;
}

