<div id="vi-fix" style="position: relative; top: 0; left: 0;">
    <style type="text/css">
    body { background:#fff; margin:0; padding:0; height:100%; width:100%;box-sizing: border-box; }
    #presentation{ position: absolute; }
    #title-area{
        width: 100%;height: 74px;padding-top: 18px;
        background: #f00;color: #FFF;font-family: Arial, sans-serif;font-weight: bolder;font-size: 48px;text-align:center;
        text-shadow:
         4px  4px 0 #c40000,
        -1px -1px 0 #c40000,
         1px -1px 0 #c40000,
        -1px  1px 0 #c40000,
         1px  1px 0 #c40000;
    }
    #viewport {
        background:#3e3e3e;
        position: absolute;
        height: 100%;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .cell {
        position:relative;
        /*align-items: center;*/
        overflow:auto;
        width:auto;
        height: auto;
        margin:2px;
        flex-basis:6%;
    }
    .item-img {
        position: absolute;
        margin: 0 auto;
        max-width:100%;
        max-height:100%;
        top:0;
        bottom:0;
        left:0;
        right:0;
        border-radius: 7px;
        z-index:0;
    }
    .Pwrap {
        /*display: none;*/
        position: absolute;
        top: 55%; left: 50%;
        margin: -250px 0 0 -400px;
        height: 500px;
        width:  800px;
        background: rgba(246, 246, 246, 0.95);
        border: 3px solid #aaaaaa; border-radius: 16px;
        -webkit-box-shadow: -6px 6px 15px 0 rgba(0,0,0,0.4);
        box-shadow:         -6px 6px 15px 0 rgba(0,0,0,0.4);

/*            -webkit-transform:scale(0,0);
            transform:scale(0,0);*/
            opacity:0.1;
    }
    .Pright{float:left; height: 480px; width: 400px; padding: 10px;}
    .Pleft {float:left; height: 460px; width: 300px; padding: 20px; max-height: 100%;}
    .Pleft img{display: block;max-height: 100%;margin: 0 auto;}
    .Ptitle,.Pregprice,.Psaleprice,.Psavings{color: #666;font-family: 'Arial', sans-serif;font-weight: bolder;}
    .Ptitle{font-size:43px; line-height:59px;color: #000;}
    .Pregprice{font-size:32px; line-height:79px;}
    .Psavings{font-size:32px; line-height:79px;  }
    .Psaleprice{font-size:38px; line-height:82px;color: red; font-weight: bold;}

    </style>
<!--
    <script src="js/jquery-1.11.2.min.js" type="text/javascript"></script>
-->
    <div id="viewport">
        <div id="title-area"></div>
    </div>
    <div id="presentation">&nbsp;</div>

    <script>window.jQuery || document.write('<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"><\/script>');</script>
    <script type="text/javascript">
        window.contentType = 'slideshow';
        window.jQuery || alert('jQuery not loaded');
        
        var jdata = [{"code":"23-060","file":"23060_Jim_Beam_Black.png","name":"Jim Beam Black","size":".75L","retail":"$26.95","save":"$4.00","sale":"$22.95"},{"code":"27-015","file":"27015_Knob_Creek.png","name":"Knob Creek","size":"1.75L","retail":"$64.95","save":"$1.75","sale":"$7.00"},{"code":"27-026","file":"27026_Bulleit_Bourbon.png","name":"Bulleit Bourbon","size":".75L","retail":"$31.95","save":"$3.00","sale":"$28.95"},{"code":"27-043","file":"27043_Bird_Dog_Peach_Whiskey6.png","name":"Bird Dog Peach Whiskey(6)","size":".75L","retail":"$18.95","save":"$3.00","sale":"$15.95"},{"code":"27-115","file":"27115_Henry_McKenna_Single_Barrel6.png","name":"Henry McKenna Single Barrel(6)","size":".75L","retail":"$28.95","save":"$4.00","sale":"$24.95"},{"code":"27-127","file":"27127_Woodford_Reserve.png","name":"Woodford Reserve","size":".75L","retail":"$37.95","save":"$5.00","sale":"$32.95"},{"code":"35-492","file":"35492_Grand_MacNish_12Y.png","name":"Grand MacNish 12Y","size":".75L","retail":"$24.95","save":"$4.00","sale":"$20.95"},{"code":"37-798","file":"37798_Forty_Creek.png","name":"Forty Creek","size":"1.75L","retail":"$37.95","save":"$1.75","sale":"$5.00"},{"code":"40-118","file":"40118_Tullamore_Dew_12Y6.png","name":"Tullamore Dew 12Y(6)","size":".75L","retail":"$49.95","save":"$5.00","sale":"$44.95"},{"code":"43-304","file":"43304_American_Harvest_Organic_Spirit6.png","name":"American Harvest Organic Spirit(6)","size":".75L","retail":"$25.95","save":"$6.00","sale":"$19.95"},{"code":"43-572","file":"43572_FireFly_Sweet_Tea.png","name":"FireFly Sweet Tea","size":"1.75L","retail":"$30.95","save":"$1.75","sale":"$7.00"},{"code":"44-023","file":"44023_Rain.png","name":"Rain","size":"1.75L","retail":"$26.95","save":"$1.75","sale":"$3.00"},{"code":"44-317","file":"44317_Deep_Eddy_Lemon.png","name":"Deep Eddy Lemon","size":".75L","retail":"$18.95","save":"$3.00","sale":"$15.95"},{"code":"46-595","file":"46595_Stolichnaya_80.png","name":"Stolichnaya 80","size":".75L","retail":"$21.95","save":"$4.00","sale":"$17.95"},{"code":"46-898","file":"46898_Double_Cross_Vodka6.png","name":"Double Cross Vodka(6)","size":".75L","retail":"$37.95","save":"$8.00","sale":"$29.95"},{"code":"49-125","file":"49125_Goslings_Black_Seal.png","name":"Gosling's Black Seal","size":".75L","retail":"$17.95","save":"$3.00","sale":"$14.95"},{"code":"49-229","file":"49229_Capt_Morgan_Private_Stock.png","name":"Capt. Morgan Private Stock","size":".75L","retail":"$24.95","save":"$3.00","sale":"$21.95"},{"code":"51-926","file":"51926_Malibu_Rum_Punch_Cocktail.png","name":"Malibu Rum Punch Cocktail","size":"1.75L","retail":"$14.95","save":"$1.75","sale":"$3.00"},{"code":"56-882","file":"56882_Twenty_Grand_Rose6.png","name":"Twenty Grand Rose(6)","size":".75L","retail":"$29.95","save":"$4.00","sale":"$25.95"},{"code":"61-768","file":"61768_DeKuyper_O3.png","name":"DeKuyper O3","size":".75L","retail":"$19.95","save":"$3.00","sale":"$16.95"},{"code":"61-950","file":"61950_Wild_Turkey_American_Honey.png","name":"Wild Turkey American Honey","size":".75L","retail":"$23.95","save":"$3.00","sale":"$20.95"},{"code":"63-573","file":"63573_Caravella_Limoncello6.png","name":"Caravella Limoncello(6)","size":".75L","retail":"$22.95","save":"$4.00","sale":"$18.95"},{"code":"63-805","file":"63805_Leblon_Cachaca6.png","name":"Leblon Cachaca(6)","size":".75L","retail":"$26.95","save":"$3.00","sale":"$23.95"},{"code":"65-047","file":"65047_Lunazul_Blanco.png","name":"Lunazul Blanco","size":"1.75L","retail":"$29.95","save":"$1.75","sale":"$5.00"},{"code":"65-080","file":"65080_Sauza_901_Silver_Tequila6.png","name":"Sauza 901 Silver Tequila(6)","size":".75L","retail":"$29.95","save":"$5.00","sale":"$24.95"},{"code":"65-165","file":"65165_Espolon_Blanco6.png","name":"Espolon Blanco(6)","size":".75L","retail":"$26.95","save":"$3.00","sale":"$23.95"},{"code":"65-349","file":"65349_Two_Fingers_Gold.png","name":"Two Fingers Gold","size":"1.75L","retail":"$22.95","save":"$1.75","sale":"$3.00"},{"code":"65-359","file":"65359_Cabo_Wabo_Reposado6.png","name":"Cabo Wabo Reposado(6)","size":".75L","retail":"$39.95","save":"$3.00","sale":"$36.95"},{"code":"66-100","file":"66100_Catdaddy_Spiced_Moonshine6.png","name":"Catdaddy Spiced Moonshine(6)","size":".75L","retail":"$22.95","save":"$3.00","sale":"$19.95"}];
        var TITLE_TEXT  = "August Specials";
        var RESOLUTION   = {w:1280,h:768};
        var GRID_START  = 0;       //BG-GRID for example, 41-80, NOT 40-79.
        var GRID_END    = 0;     //BG-GRID (0 for auto 100% of jdata)
        var PRES_START  = 3;   //PRESENTATION BOUNDS
        var PRES_END    = 7; //PRESENTATION BOUNDS
        var TIMER_DELAY = 2000;
        var TIMER_SHOW  = 9000;
        var GROW_SPEED  = 2000; //loop time = fadespeed + timer_show
        var FADE_SPEED  = 2000; //loop time = fadespeed + timer_show
        var GOPA_SPEED  = 2000; //loop time = fadespeed + timer_show
        var FOPA_SPEED  = 2000; //loop time = fadespeed + timer_show
        var URL_SLUG    = "http://vi-digital.com/lib/abc/ABC-Cherry/";
        var LOC_SLUG    = "";
        var NO_IMG_LOC  = "!no_image_ABC.svg";
        var NO_IMG_RMT  = "http://vi-digital.com/lib/abc/ABC-Cherry/!no_image_ABC.svg";
        var g, h, i, j, k;
        if(GRID_START==0){GRID_START=1;}
        if(GRID_END==0){GRID_END=jdata.length;}
        //console.log(GRID_START +"<-grstart|grend->"+ GRID_END);console.log(PRES_START +"<-prstart|prlength->"+ PRES_END);
        var z = {};
        z.p_wraps = [];
        z.grid_length = GRID_END - GRID_START + 1;
        z.gridboxes= [];
        (function dynamicStyles (){
            var G = GROW_SPEED;
            var F = FADE_SPEED;
            var GO = GOPA_SPEED;
            var FO = FOPA_SPEED;

            var styleElmt = document.createElement('style');
            var styles = "";
            var n = z.grid_length;
            console.log(n);
            var s_maxheight = 240;
            var s_flexbasis = 15;
            //http://bennettfeely.com/flexplorer/
            if ( n >= 1 && n <= 3 ){ s_maxheight = 540; s_flexbasis = 19;}
            else if (n >= 6   && n <= 10 ){ s_maxheight = 340; s_flexbasis = 17;}
            else if (n >= 11  && n <= 21 ){ s_maxheight = 190; s_flexbasis = 16;}
            else if (n >= 22  && n <= 28 ){ s_maxheight = 150; s_flexbasis = 13;}
            else if (n >= 29  && n <= 31 ){ s_maxheight = 110; s_flexbasis = 14;}
            else if (n >= 32  && n <= 60 ){ s_maxheight = 140; s_flexbasis = 11;}
            else if (n >= 61  && n <= 120){ s_maxheight = 100; s_flexbasis = 6;}
            else if (n >= 121 && n <= 180){ s_maxheight = 60;  s_flexbasis = 4;}
            styles += '.cell {flex-basis:'+s_flexbasis+'%;height: '+s_maxheight+'px;width: auto;}';
//            styles +='.item-img {height: '+s_maxheight+'px;width: auto;}';
            styles +='.Pwrap{';
            styles +='    transition:-webkit-transform '+G+'ms, opacity '+GO+'ms 300ms;';
            styles +='    transition:        transform '+G+'ms, opacity '+GO+'ms 300ms;';
            styles +='    -webkit-transform:scale(0,0);';
            styles +='            transform:scale(0,0);';
            styles +='    opacity: 0;';
            styles +='}';
            styles +='.grown{';
            styles +='    -webkit-transform:scale(1,1);';
            styles +='    transform:scale(1,1);';
            styles +='    opacity: 1;';
            styles +='    transition:-webkit-transform '+G+'ms, opacity '+GO+'ms 300ms;';
            styles +='    transition:        transform '+G+'ms, opacity '+GO+'ms 300ms;';
            styles +='}';
            styles +='.shrunk{';
            styles +='    -webkit-transform:scale(0,0);';
            styles +='    transform:scale(0,0);';
            styles +='    opacity: 0;';
            styles +='    transition:-webkit-transform '+F+'ms, opacity '+FO+'ms 300ms;';
            styles +='    transition:        transform '+F+'ms, opacity '+FO+'ms 300ms;';
            styles +='}';
            styleElmt.innerHTML = styles;
            document.body.appendChild(styleElmt);
        }());
//        var V_I_F_I_X = document.getElementById("vi-fix");
        var V_I_F_I_X = document.body;
        var ID_viewport = document.createElement("div");
        ID_viewport.setAttribute("id","viewport");
        ID_viewport.style.width = RESOLUTION.w+"px";
        ID_viewport.style.height = RESOLUTION.h+"px";
        V_I_F_I_X.appendChild(ID_viewport);
        var ID_presentation = document.createElement("div");
        ID_presentation.setAttribute("id","presentation");
        ID_presentation.style.width = RESOLUTION.w+"px";
        ID_presentation.style.height = RESOLUTION.h+"px";
        V_I_F_I_X.appendChild(ID_presentation);


        function imgError1(image) {
            var fn = image.src.match(/.*\/(.*\.png|gif|svg)/);
            image.src = null; //needed to fire another onerror event
            image.onerror = null;
            image.removeAttribute("onerror");
            image.setAttribute("onerror", "imgError2(this);");
            image.src = URL_SLUG+fn[1];
            return true;
        }
        function imgError2(image) {
            image.src= null;
            image.onerror = null;
            image.removeAttribute("onerror");
            image.setAttribute("onerror", "imgError3(this);");
            image.src = NO_IMG_LOC;
            console.log("==========imgError2 : SVG LOC NOW ============");
            return true;
        }
        function imgError3(image) {
            image.src= null;
            image.onerror = null;
            image.removeAttribute("onerror");
            image.src = NO_IMG_RMT;
            console.log("==========imgError3 : SVG RMT NOW ============");
            return true;
        }

        /*/.code/.name/.file/.size/.retail/.sale/.save/*/
        var gridhtml = '<div id="title-area"></div>';
        for(j=(GRID_START-1); j<(GRID_END); j++){ //loop length = array length
            gridhtml += '<div class="cell">';
            gridhtml += '<img src="';
            gridhtml += LOC_SLUG+jdata[j].file;
            gridhtml += '" onerror="imgError1(this);"';
            gridhtml += ' class="item-img"></div>';
        }
//        console.log(gridhtml);
        ID_viewport.innerHTML = gridhtml;
        var ID_titlearea = document.getElementById("title-area");

        //Build Presentation HTML for all presentation items
        /*/.code/.name/.file/.size/.retail/.sale/.save/*/
        //1st item is [0]...
        var preshtml = "";
        for(i=(PRES_START-1); i<=(PRES_END-1); i++){ //loop length = array length
            preshtml += '<div id="Pwrapper'+(i+1)+'" class="Pwrap shrunk">'
                    + '<div class="Pleft">'
                    + '<img src="'+LOC_SLUG+jdata[i].file+'" onerror="imgError1(this);">'
                    + '</div>'
                    + '<div class="Pright">'
                    + '<div class="Ptitle">'+ jdata[i].name+'</div><hr>'
                    + '<div class="Pregprice">Regular Price: '+ jdata[i].retail+'</div>'
                    + '<div class="Psavings">Savings: '+ jdata[i].save+'</div>'
                    + '<div class="Psaleprice">Sale Price: '+ jdata[i].sale+'</div>'
                    + '</div></div>';
        }
        ID_presentation.innerHTML = preshtml;
        z.p_wraps = document.getElementsByClassName('Pwrap');
        //Continuous loop
        //start 3, length 5, we get 3,4,5,6,7- ref by 2,3,4,5,6
        var Pidx = 0;
        (function slide_loop() {
            var thisP = z.p_wraps[Pidx];
            if (Pidx < PRES_END){Pidx++;}else{Pidx=0;}
            if (Pidx <= PRES_END) {
                setTimeout(function(){fadein(thisP);}, TIMER_DELAY);
                setTimeout(function(){fadeout(thisP);}, TIMER_SHOW);
                setTimeout(function(){slide_loop();}, TIMER_SHOW+FADE_SPEED);
            }
        }());
        function fadein(E){
            E.classList.remove('shrunk');
            E.classList.add('grown');
        }
        function fadeout(E){
            E.classList.remove('grown');
            E.classList.add('shrunk');
        }

        ID_titlearea.textContent = TITLE_TEXT;
    </script><!-- end fix --></div>
