@font-face {font-family: "EurostileExt2";src: url("src/EurostileExt2.ttf");}
/** {font-family:'Courier New', Courier, monospace;}*/
* {font-family:"EurostileExt2", sans-serif;}
body{background: black url("src/space.jpg") no-repeat fixed left center;background-size: cover;}
.font1 {font-family: 'EurostileExt2', sans-serif;}

/*
.pre{
    color: #fff;
    background-color: rgba(60,60,60,0.8);
    overflow:scroll;
    white-space:nowrap;
    height:700px;
    width: 100%;
}
*/
